<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= js add_gritter(flash[:error], title: "Error") %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, id: :blog_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, id: :blog_body, class: 'form-control', rows: 15 %>
  </div>

  <div class="form-group">
    <label class="btn btn-outline-info">
      Upload an Image <%= f.file_field :main_image, style: 'display:none' %>
    </label>
  </div>
  

  <div class="form-group">
    <%= f.label :topic_id %>
    <%= f.collection_select(:topic_id, Topic.all, :id, :title, 
                                            {
                                              include_blank: true
                                            },
                                            class: 'form-control'
                                          )
      %>
  </div>

  <div class="form-group">
  <%= f.radio_button :status, 'draft' %>
  <%= f.label :status, 'Draft' %>

  <%= f.radio_button :status, 'published' %>
  <%= f.label :status, 'Published' %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-outline-info' %>
  <div class="auth-links btn btn-outline-info hovering-effect back">
    <%= link_to 'Back', blogs_path %>
  </div>
    <div class="auth-links btn btn-outline-info hovering-effect back">
      <%= link_to 'Show', @blog %>
    </div>
  </div>
<% end %>
