<div class="col-sm-8 blog-main">

    <h2><%= @blog.title %></h2>

    <p>
      <%= @blog.body %>
    </p>

    <p>
      <%= image_tag @blog.main_image %>
    </p>

    <div class="auth-links btn btn-outline-info hovering-effect back">
        <%= link_to 'Edit', edit_blog_path(@blog) %>
      </div>
    <div class="auth-links btn btn-outline-info hovering-effect back">
        <%= link_to 'Back', blogs_path %>
    </div>

</div>
