<div class="col-sm-8 blog-main">

      <h2><%= @blog.title %></h2>

      <p>
        <%= @blog.topic.title %>
      </p>

      <p>
        <%= image_tag @blog.main_image, width: '100%' %>
      </p>

      <p>
        <%= @blog.body %>
      </p>

      <%= render 'comments/comment_form' %>

      <div id="comments" data-blog-id="<%= @blog.id %>">
        <%= render @blog.comments %>
      </div>

      <div class="auth-links btn btn-outline-info hovering-effect back">
          <%= link_to 'Edit', edit_blog_path(@blog) %>
        </div>
      <div class="auth-links btn btn-outline-info hovering-effect back">
          <%= link_to 'Back', blogs_path %>
      </div>
</div>
