<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      
      <%= render 'shared/blog_nav' %>

      <%= render 'shared/carousel' %>

    <div class="blog-header">
      <div class="container">
          <h1 class="blog-title">Kaden + Elise</h1>
          <p class="lead blog-description">Soul-Mates, Adventures, &amp; Memories</p>
      </div>
        <div class="write-new">
         <span>
          <%= link_to 'Write A New Blog Post', new_blog_path, class: "auth-links btn btn-outline-info hovering-effect"  if logged_in?(:site_admin) %>
         </span>
        </div>
         <div class="topic-label">
         <span>
           <%= link_to "Topics", topics_path, class: "auth-links btn btn-outline-info hovering-effect" %>
         </span>
         </div>
    </div>
    
      <div class="row">
          <%= yield %>
          <%= render 'shared/blog_sidebar' %>
      </div>
   

    <footer class="blog-footer">
      <p><%= render "shared/application_footer" %></p>
      <p>
        <a class="auth-links btn btn-outline-info hovering-effect" href="<%= blogs_path %>">Back to top</a>
      </p>
    </footer>
          <%= source_helper("blog") %>
    
  </body>
</html>